<div id="formulario" class="row col-sm-10 offset-sm-1 p-4">
    <div class="header">
        <h3>{{titulo}}</h3>
    </div>
    <hr id="borde" />
    <form #impresoraForm="ngForm">
        <div class="offset-sm-1 pl-5">
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="username" class="control-label h5">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="user.username" name="username" #username="ngModel" required minlength="3"
                        [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched)}" />
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                        <div *ngIf="username.errors['required']">
                            El username es requerido.
                        </div>
                        <div *ngIf="username.errors['minlength']">
                            El username debe tener al menos 3 caracteres.
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label for="password" class="control-label h5">Contraseña</label>
                    <input type="text" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" required minlength="3"
                        [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}" />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.errors['required']">
                            La contraseña es requerida.
                        </div>
                        <div *ngIf="password.errors['minlength']">
                            La contraseña debe tener al menos 3 caracteres.
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <label for="email" class="control-label h5">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required minlength="3"
                       />
                  
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="enabled" class="control-label h5 me-1">Usuario Activo</label>
                    <input type="checkbox" [(ngModel)]="user.enabled" name="enabled" class="form-check-input p-2 " style="margin-left: 10px;" />
                </div>
            </div>

            <div class="form-group row">
                <label for="rol" class="control-label h5">Seleccionar Rol</label>
                <div class="col-sm-12">
                    <div class="form-check pt-3">
                        <div *ngFor="let rol of roles" class="form-check form-check-inline">
                            <input type="radio" [value]="rol.id" name="selectedRole" class="form-check-input p-1 me-2 ms-2 " id="rol"  [checked]="user.id  === rol.id" />
                            <label class="form-check-label h6" for="roles">{{ rol.descripcion }}</label>
                        </div>
                    </div>
                </div>
            </div>
             

            <div class="form-group row col-sm-11">
                <label for="dni" class="control-label col-sm-5 h5">Personal HPS</label>
                <mat-form-field>
                    <mat-label>Datos del Personal</mat-label>
                    <input type="text" placeholder="Ingresar DNI" aria-label="dni" matInput
                        [formControl]="myPersonaControl" [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="viewPersona" (optionSelected)="selectedPersona($event)">
                        <mat-option *ngFor="let persona of personasFiltrados | async" [value]="persona">
                            {{ persona.apellido }}&nbsp; {{ persona.nombre }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button class="btn float-end" role="button" (click)="create()" *ngIf="!user.id; else elseBlock" [disabled]="impresoraForm.invalid || myPersonaControl.invalid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn float-end" role="button" (click)="update()" [disabled]="impresoraForm.invalid">Actualizar</button>
                    </ng-template>
                    <button class="btn float-end" role="button" (click)='Volver()' >Volver</button>
                </div>
            </div>
        </div>
    </form>
</div>
