<div class="container ">
    <div class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="card-title">{{title}}</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseProblema" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Tiene un problema genereral ?
                </a>

                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseProblemaEquipo" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Tiene un problema de funcionamiento de al algun equipo ?
                </a>

            </p>
            <div class="collapse" id="collapseProblema">
                <div class="card card-body">

                </div>
            </div>

            <div class="collapse" id="collapseProblemaEquipo">
                <div class="card card-body">
                    Form de un servico de un equipo
                </div>
            </div>
        </div>
    </div>
</div>