<div class="row col-sm-10 offset-sm-1 p-4" id="formulario">
  <div class="header"><h3>{{ titulo }}</h3></div>
  <hr id="borde"/>
  <div class="bodycol-md-12 offset-sm-1">
    <form #impresoraForm="ngForm">
      <div class="form-group row">
        <div class="col-sm-5">
          <label for="modelo" class="control-label h5">Modelo</label>
          <input type="text" class="form-control" [(ngModel)]="cartucho.modelo" name="modelo" #modeloField="ngModel" required minlength="4">
          <div *ngIf="modeloField.invalid && (modeloField.dirty || modeloField.touched)" class="text-danger">
            <div *ngIf="modeloField.errors['required']">
              Modelo es requerido.
            </div>
            <div *ngIf="modeloField.errors['minlength']">
              Modelo debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>

        <div class="col-sm-5">
          <label for="capacidad" class="control-label h5">Capacidad</label>
          <input type="text" class="form-control" [(ngModel)]="cartucho.capacidad" name="capacidad" #capacidadField="ngModel" required minlength="4">
          <div *ngIf="capacidadField.invalid && (capacidadField.dirty || capacidadField.touched)" class="text-danger">
            <div *ngIf="capacidadField.errors['required']">
              Capacidad es requerida.
            </div>
            <div *ngIf="capacidadField.errors['minlength']">
              Capacidad debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <label for="descripcion" class="control-label h5">Descripción</label>
          <input type="text" class="form-control" [(ngModel)]="cartucho.descripcion" name="descripcion" #descripcionField="ngModel" required minlength="4">
          <div *ngIf="descripcionField.invalid && (descripcionField.dirty || descripcionField.touched)" class="text-danger">
            <div *ngIf="descripcionField.errors['required']">
              Descripción es requerida.
            </div>
            <div *ngIf="descripcionField.errors['minlength']">
              Descripción debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-5">
          <label for="marca" class="control-label h5">Marca</label>
          <select [compareWith]="comparar" class="form-control" [(ngModel)]="cartucho.marca" name="marca" required>
            <option [ngValue]="undefined">Seleccione la marca del cartucho...</option>
            <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.nombre}}</option>
          </select>
          <div *ngIf="impresoraForm.controls['marca'].invalid && impresoraForm.controls['marca'].touched" class="text-danger">
            Marca es requerida.
          </div>
        </div>

        <div class="col-sm-5">
          <label for="color" class="control-label h5">Color</label>
          <select [compareWith]="comparar" class="form-control" [(ngModel)]="cartucho.color" name="color" required>
            <option [ngValue]="undefined">Seleccione el color de cartucho...</option>
            <option *ngFor="let color of colores" [ngValue]="color">{{color.nombre}}</option>
          </select>
          <div *ngIf="impresoraForm.controls['color'].invalid && impresoraForm.controls['color'].touched" class="text-danger">
            Color es requerido.
          </div>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <div class="col-sm-5">
          <label for="tipoCartucho" class="control-label h5">Tipo de Cartucho</label>
          <select [compareWith]="comparar" class="form-control" [(ngModel)]="cartucho.tipoCartucho" name="tipoCartucho" required>
            <option [ngValue]="undefined">Seleccione el tipo de cartucho...</option>
            <option *ngFor="let tipoCartucho of tipoCartuchos" [ngValue]="tipoCartucho">{{tipoCartucho.descripcion}}</option>
          </select>
          <div *ngIf="impresoraForm.controls['tipoCartucho'].invalid && impresoraForm.controls['tipoCartucho'].touched" class="text-danger">
            Tipo de Cartucho es requerido.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn btn-primary" role="button" (click)='Volver()' >Volver</button>
          <button class="btn btn-primary" role="button" (click)='update()' *ngIf="!impresoraForm.invalid; else elseBlock">Editar</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='create()' [disabled]="impresoraForm.invalid">Crear</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
