
html, body {
    height: 100%;
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 70vh; /* Al menos el 100% del alto de la ventana */
  }
  .full-width {
    width: 100%;
    max-width: none; /* Elimina el límite máximo de ancho */
    margin-left: 0;  /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
  }