<div class="container ">
<div class="card">
    <div class="card-header row m-1 ">
        <h5 class="col-sm-8 ">Barra de Busqueda</h5>
        <div class="col-sm-4">

            <button class="float-end btn ms-2 " (click)="resetearAll()" >
                <i class="bi bi-arrow-counterclockwise"></i>
            </button>

        <button class="btn col-sm-6 btn-danger float-end " role="button" [disabled]="solicitudes.length<=0" (click)="PDF()">Generar PDF</button>
        
        </div>
    </div>
    <div class="card-body">
        <div class="container text-center">
                <div class="col-sm-12 row mb-0">
                    <div class="col-sm-4 ">
                        <select [compareWith]="comparar" class="form-select buscar" [(ngModel)]="estado" name="estado"
                             (ngModelChange)="onEstadoChange($event)">
                            <option [ngValue]="undefined">Busqueda por Estado de Solicitud</option>
                            <option *ngFor="let estado of estados" [ngValue]="estado.descripcion">{{estado.descripcion}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="search" class="form-control buscar" name="filterSol" placeholder="Busqueda General"
                             [(ngModel)]="filterText" (ngModelChange)="resetearBusqueda()">
                    </div>
                    <div class="col-sm-4">
                        <input type="search" class="form-control buscar" name="filterSol" placeholder="Busqueda por Id"
                             [(ngModel)]="filterId" (ngModelChange)="searchId($event)">
                    </div>
                </div>                       
        </div>    
    </div>
    <hr class="mb-0 mt-0 linea">
            <div class="card-header">
                <h5>Busqueda por fecha </h5>
            </div>
            
        <div class="row card-body ">
            <form class="row ">
                <div class="col-auto">
                    <label class="me-2 h6" for="fechaInicio">Desde:</label>
                    <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="rangoFechas.fechaInicio"
                    [min]="'2024-01-01'" [max]="rangoFechas.fechaFinal || ''|| getCurrentDate() | date:'yyyy-MM-dd'"required>
                  </div>
                  <div class="col-auto">
                    <label class="me-2 h6" for="fechaFinal">Hasta:</label>
                    <input type="date" id="fechaFinal" name="fechaFinal" [(ngModel)]="rangoFechas.fechaFinal"
                           [min]="rangoFechas.fechaInicio || '2024-01-01'" [max]="getCurrentDate() | date:'yyyy-MM-dd'" required>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary" role="button" (click)="buscar()">Buscar</button>
                  </div>
                  

        </form>
        </div>
      
</div>
<br>
<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body" id="tabla" >
        <br>
        <div *ngIf="mostrarInformeDatos">
            <div class="row col-sm-12">
                <div class="col-sm-8 ">
                    <h3>Informe de Solicitudes de Cartuchos y Toners</h3>
                    <div class="h5">
                        Período: {{formatoFecha(rangoFechas.fechaInicio)}} - {{formatoFecha(rangoFechas.fechaFinal)}}
                    </div>
                </div>
                <div class="col-sm-4  ps-1 pe-0 m-0">
                    <img src="/assets/images/Logo_HPS.png" id="logo" class="col-sm-3 float-end ps-1 pe-0 m-0">
                </div>
            </div>
<br>
          

        </div>
        <table class="table table-striped table-bordered table-hover dtr-inline table-responsive table-sm"  >
            <thead>
                <tr>
                    <th>ID</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Cartucho</th>
                    <th scope="col">Impresora</th>
                    <th scope="col">Justificación</th>
                    <th scope="col">Observación</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>

                </tr>
            </thead>
            <tbody>


                <tr class="odd" *ngFor="let item of solicitudes | filter:filterText ">
                    <td>
                        {{item.id}}
                    </td>
                    <td>{{item.usuario.persona.servicio.nombre !== null?item.usuario.persona.servicio.nombre
                        :"---"}}
                    </td>
                    <td>
                        {{item.usuario.persona.apellido !== null ? item.usuario.persona.apellido:"---"}}
                        {{item.usuario.persona.nombre !== null ? item.usuario.persona.nombre:"---"}}

                    </td>

                    <td>
                        <div *ngFor="let car of item.itemSolicituds">
                            {{car.cantidad}}-
                            {{car.cartucho.marca.nombre}}
                            {{car.cartucho.modelo}}
                            {{car.cartucho.color.nombre}}
                            {{car.tipoCarga.descripcion}}
                        </div>
                        <br>
                    </td>
                    <td>
                        <div *ngFor="let imp of item.impresoras">
                            {{imp.marca.nombre}}
                            {{imp.modelo}}
                        </div>
                        <br>

                    </td>
               
                    <td>
                        {{item.justificacion !== null ?item.justificacion:"---"}}
                    </td>
                    <td>
                        {{item.observacion !== null?item.observacion:"---"}}
                    </td>
                    <td>
                        <span  [ngClass]="{'aprobada': item.estado.descripcion === 'APROBADA', 'solicitada': item.estado.descripcion === 'SOLICITADA','cancelada': item.estado.descripcion === 'CANCELADA', 'observada': item.estado.descripcion === 'OBSERVADA'}">{{item.estado.descripcion}}</span>
                    </td>
                    <td>
                        {{item.fechaCreacion}}
                    </td>
                   

                </tr>

            </tbody>

        </table>
    </div>
</div>
</div>