
<div class="card ">
  <div class="card-header row col-sm-12 ms-0 pe-1">
    <h4 class="col-sm-6">{{ title }}</h4>
    <div class="col-sm-6">
      <button class="btn btn-primary float-end ms-3" role="button" (click)='Volver()'>Cancelar</button>
      <button class="btn btn-danger float-end" role="button" (click)="PDF()">Imprimir  <i class=" ms-1 bi bi-printer-fill"></i></button>
    </div>
  </div>
  <div class="card-body" id="body">
    <table id="tabla" class=" table-responsive print-section offset-1  ">
      <tr>
        <td class="mt-5 mb-5 ">
          <div class="row ">
            <img src="..\assets\images\Logo_HPS.png" id="logo" class=" row col-sm-1 me-5">
            <div class="col-sm-7"> <p>                                                    </p></div>
            <div class=" col-sm-3 ms-4" id="info">
              <div class="row col-md-12 text-end "><h5>Pedido de Provision N°: {{solicitud.id}}</h5></div>
              <div class="row col-md-12 text-end "><h5>San Salvador de Jujuy, {{formatoFecha(solicitud.fechaCreacion)}}</h5></div>  
            </div>
          </div>
          
          <h5>Articulo destinado a: {{solicitud.usuario?.persona?.servicio?.nombre}}</h5>
          <h5>Para utilizar en el: SERVICIO</h5>
          <h5>Solicitado por: SERVICIO DE {{solicitud.usuario?.persona?.servicio?.nombre}} - Usuario: {{solicitud.usuario?.persona?.nombre}} {{solicitud.usuario?.persona?.apellido}}</h5>

          <table class="table">
            <thead>
              <tr>
                <th scope="col" >Renglón</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let so of solicitud.itemSolicituds; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{so.cantidad}}</td>
                <td>{{so.cartucho.modelo}}, {{so.cartucho.color.nombre}}, {{so.cartucho.tipoCartucho.descripcion}},  {{so.tipoCarga.descripcion}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <br>
          <br>
          <br>            
          <br>
          <br>
          <br>
          <br>   
          <br>
          <br>
          <br>   
          <br>
          <br>
          <br>   
          <br>
          <br>
          <br>
          <div class="row col-sm-12">
            <img src="..\assets\images\Logo_HPS.png" id="logo" class=" row col-sm-1 me-5">
            <div class="col-sm-7 "> <p>                                                    </p></div>
            <div class=" col-sm-3 ms-4" id="info">
              <div class="row col-md-12 text-end mb-0 pb-0"><h5>Pedido de Provision N°: {{solicitud.id}}</h5></div>
              <div class="row col-md-12 text-end mt-0 pt-0"><h5>San Salvador de Jujuy, {{formatoFecha(solicitud.fechaCreacion)}}</h5></div>  
            </div>
          </div>
          <h5>Articulo destinado a: {{solicitud.usuario?.persona?.servicio?.nombre}}</h5>
          <h5>Para utilizar en el: SERVICIO</h5>
          <h5>Solicitado por: SERVICIO DE {{solicitud.usuario?.persona?.servicio?.nombre}} - Usuario: {{solicitud.usuario?.persona?.nombre}} {{solicitud.usuario?.persona?.apellido}}</h5>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Renglón</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let so of solicitud.itemSolicituds; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{so.cantidad}}</td>
                <td>{{so.cartucho.modelo}}, {{so.cartucho.color.nombre}}, {{so.cartucho.tipoCartucho.descripcion}}, {{so.tipoCarga.descripcion}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="row ">
            <div class="col-sm-6 text-center">
            </div>
            <div class="col-sm-6">
              <img src="..\assets\images\autorizacion.png" id="logoAuto">
            </div>
          </div> 
        </td>
      </tr>
    </table>
  </div>
</div>
