table {
    width: 100%;
    border-color: rgb(0, 92, 93);
  }
  .card{
    border-color: rgb(0, 92, 93);
  }
  .buscar{
    border-color: rgb(0, 92, 93);
    color: rgb(74, 89, 92 );
  }
  .buscar:hover{
    background-color: rgb(195, 244, 245);
    color: rgb(58, 65, 66);
  }
  .btn{
    background: rgb(0, 92, 93);
    color: white;
    border: rgb(0, 92, 93);
}
.btn:hover{
  background: rgb(16, 40, 40);
  color: white;
  position: relative;
  display: inline-block;
}
span.solicitada {
  background-color: yellow; 
}

span.aprobada {
  background-color: lightgreen; 
}
span.cancelada{
background-color: red;
}
span.observada{
  background-color: orange;
}

.form-control{
  border:solid 1px; 
  border-color: rgb(0, 92, 93); 
  color:rgb(84, 102, 100);
}
.form-select{
  border:solid 1px; 
  border-color: rgb(0, 92, 93); 
  color:rgb(84, 102, 100);
}