table {
  border-color: rgb(0, 92, 93);
}

.card {
  border-color: rgb(0, 92, 93);
}

.buscar {
  border-color: rgb(0, 92, 93);
  color: rgb(74, 89, 92);
}

.buscar:hover {
  background-color: rgb(195, 244, 245);
  color: rgb(58, 65, 66);
}
#logo{
  width: 30px;
}
.btn {
  background: rgb(0, 92, 93);
  color: white;
  border: rgb(0, 92, 93);
}

.btn:hover {
  background: rgb(16, 40, 40);
  color: white;
  position: relative;
  display: inline-block;
}

span.solicitada {
  background-color: yellow;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

span.aprobada {
  background-color: lightgreen;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}
span{
font-size: 12px;
}
span.cancelada {
  background-color: red;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

span.observada {
  background-color: orange;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.form-control {
  border: solid 1px;
  border-color: rgb(0, 92, 93);
  color: rgb(84, 102, 100);
}

.form-select {
  border: solid 1px;
  border-color: rgb(0, 92, 93);
  color: rgb(84, 102, 100);
}

.id-column {
  max-width: 30px !important; /* Ajusta según tus necesidades */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table{
  overflow-y: hidden,
}
.form-check-input{
  border-color: rgb(0, 92, 93);
}
.form-check-input:hover{
  background-color: rgb(0, 92, 93);
}
.form-check-label{
  color:rgb(0, 92, 93); ;
}

.form-check-input:checked{
  background-color: rgb(0, 92, 93) !important; 
  border: 1px solid rgb(0, 92, 93) !important;  
}