<div class="row">
    <h1>Solicitudes</h1>
    <div class="card">
        <div class="card-header">
            Busqueda
        </div>
        <div class="card-body">
            <div class="container text-center">
          
            <div class="row m-2">

            </div>
            <div class="row ">

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th scope="col">Divicion</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Cartucho</th>
                            <th scope="col">Impresora</th>
                            <th scope="col">Tipo Carga</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Justificacion</th>
                            <th scope="col">Observacion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd" *ngFor="let item of solicitudes">
                            <td>{{item.usuario.persona.servicio.nombre !== null?item.usuario.persona.servicio.nombre
                                :"---"}}
                            </td>
                            <td>
                                {{item.usuario.persona.apellido !== null?item.usuario.persona.apellido:"---"}}
                                {{item.usuario.persona.nombre !== null? item.usuario.persona.nombre:"---"}}

                            </td>

                            <td *ngFor="let car of item.cartuchos">
                             
                                {{car.marca.nombre}}
                                {{car.modelo}}
                                {{car.color.nombre}}

                            </td>
                            <td *ngFor="let imp of item.impresoras">
                                Impresora
                                 {{imp.marca.nombre}}
                                 {{imp.modelo}}
 
                             </td>
                            <td>
                                {{item.tipoCarga.descripcion}}
                            </td>
                            <td>
                                {{item.cantidad}}
                            </td>
                            <td>
                                {{item.justificacion}}
                            </td>
                            <td>
                                {{item.observacion}}
                            </td>
                            <td>
                                <span class="text-bg-warning">{{item.estado.descripcion}}</span>
                            </td>
                            <td>
                                {{item.fechaCreacion}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="openPopUp(item)">
                                    check
                                  </button>
            
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>

            <div class="row">
             
            </div>
        </div>
    </div>
</div>