<br>
<div class="row col-sm-10 offset-sm-1 p-4" id="formulario">
  <h3 class="pb-3">Solicitud de Cartuchos</h3>
  <hr id="borde" />
  <div class="col-md-10 offset-sm-1">
    <form #Form="ngForm" #impresoraForm="ngForm" (ngSubmit)="enviaSolicitud()">
      <div class="form-group col-sm-10">
        <div class="col-sm-6">
          <label class="control-label h5">Impresora</label>
          <select class="col-sm-6 form-control" [compareWith]="comparar" [(ngModel)]="impresora.marca" name="imarca"
          (change)="imarca()" required (ngModelChange)="onMarcaChange()"
          [ngClass]="{'is-invalid': Form?.controls['imarca']?.invalid && Form?.controls['imarca']?.touched && solicitud.itemSolicituds.length === 0}">
          <option [ngValue]="undefined" disabled>Seleccionar una marca...</option>
          <option *ngFor="let imarca of marcas" [ngValue]="imarca">{{imarca.nombre}}</option>
        </select>
      
          <div *ngIf="Form?.controls['imarca']?.hasError('invalidImpresora')" class="text-danger">
            Este campo es obligatorio cuando hay cartuchos seleccionados.
          </div>
        </div>


        <div class="col-sm-10" *ngIf="mostrarAutocompletado">
          <mat-form-field>
            <mat-label>Modelo</mat-label>
            <input type="text" placeholder="Escribir Modelo" aria-label="impresoras" matInput
              [formControl]="myImpresoraControl" [matAutocomplete]="autoo" required
              [ngClass]="{'is-invalid': myImpresoraControl?.invalid && (myImpresoraControl?.dirty || myImpresoraControl?.touched)}"
              [disabled]="myImpresoraControl?.disabled">
            <mat-autocomplete #autoo="matAutocomplete" [displayWith]="viewImpresora"
              (optionSelected)="selectedImpresora($event)">
              <mat-option *ngFor="let impresora of impresorasFiltrados | async" [value]="impresora">
                {{impresora.modelo}}&nbsp; {{impresora.tipoImpresora.descripcion}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="myImpresoraControl?.invalid && (myImpresoraControl?.dirty || myImpresoraControl?.touched)"
            class="text-danger">
            <div *ngIf="myImpresoraControl.errors['required']">
              El modelo de impresora es requerido.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" *ngIf="mostrarTabla">
            <label class="control-label h5">Cartuchos y Toners</label>
            <table class="table table-striped table-bordered table-hover dtr-inline">
              <thead>
                <tr>
                  <th style="width: 10px">ID</th>
                  <th>MODELO</th>
                  <th>Marca</th>
                  <th>CAPACIDAD</th>
                  <th>COLOR</th>
                  <th>TIPO</th>
                  <th>AGREGAR</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" *ngFor="let item of impresora.cartuchos">
                  <td>{{item.id}}</td>
                  <td>{{item.modelo}}</td>
                  <td>{{item.marca.nombre}}</td>
                  <td>{{item.capacidad}}</td>
                  <td>{{item.color.nombre}}</td>
                  <td>{{item.tipoCartucho.descripcion}}</td>
                
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn  btn-primary" (click)="addCartuchos(item)">
                        <i class="fa fa-solid fa-plus"></i>
                      </button>&nbsp;
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr></tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div class="mb-3" id="justificacionContainer">
          <label for="textarea" class="form-label h5 mt-3">Justificación</label>
          <textarea class="form-control" [(ngModel)]="solicitud.justificacion" name="justificacion" rows="3" required type="text"
            [ngClass]="{'is-invalid': Form?.controls['justificacion']?.invalid && (Form?.controls['justificacion']?.dirty || Form?.controls['justificacion']?.touched)}"
            [disabled]="Form?.controls['justificacion']?.disabled"></textarea>
          <div
            *ngIf="Form?.controls['justificacion']?.invalid && (Form?.controls['justificacion']?.dirty || Form?.controls['justificacion']?.touched)"
            class="text-danger">
            Este campo es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12"
        *ngIf="mostrarDatos && (solicitud.impresoras.length > 0 || solicitud.itemSolicituds.length > 0)">
        <label class="control-label h5 row">Datos de Solicitud (Previsualización)</label>
        <label class="control-label h6 row">Impresoras seleccionadas</label>
        <table class="table table-hover">
          <thead></thead>
          <tbody>
            <tr *ngFor="let iSol of solicitud.impresoras">
              <td>{{iSol.modelo}}</td>
              <td>{{iSol.marca.nombre}}</td>
              <td >{{iSol.tipoImpresora.descripcion}}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <label class="control-label h6 row">Cartuchos</label>
        <table class="table table-hover" id="tablaCartuchos">
          <thead></thead>
          <tbody>
            <tr *ngFor="let cSol of solicitud.itemSolicituds; let i = index">
              <td>{{cSol.cantidad}}</td>
              <td>{{cSol.cartucho.modelo}}</td>
              <td>{{cSol.cartucho.color.nombre}}</td>
              <td class="scroll" >
                <div data-bs-spy="scroll">{{cSol.cartucho.tipoCartucho.descripcion}}</div>
              </td>
              <td>
                <div class="was-validated">
                  <select [compareWith]="comparar" class="form-select is-invalid" [(ngModel)]="cSol.tipoCarga"
                    name="tipoCarga_{{i}}" style="width:150px;"
                    [ngClass]="{'is-invalid': Form?.controls['tipoCarga_' + i]?.invalid && Form?.controls['tipoCarga_' + i]?.touched}"
                    required>
                    <option [ngValue]="undefined" disabled>Seleccione...</option>
                    <option *ngFor="let tipoCarga of tipoCargas" [ngValue]="tipoCarga">{{tipoCarga.descripcion}}</option>
                  </select>
                  <div *ngIf="Form?.controls['tipoCarga_' + i]?.invalid && Form?.controls['tipoCarga_' + i]?.touched"
                    class="text-danger">
                    Seleccione un tipo de carga.
                  </div>
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger" (click)="cDelete(cSol)">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 offset-sm-1">  
          <button class="btn float-end btn-primary" role="button" (click)="update()" *ngIf="solicitud.id;
          else elseBlock" [disabled]="!solicitud.justificacion || !mostrarDatos">Actualizar</button>
          <ng-template #elseBlock>
            <button class="btn float-end btn-primary" role="button" (click)="enviarSolicitud()"
            [disabled]="!isValidForm() || !solicitud.justificacion">Crear</button>
          </ng-template>
          <button class="btn float-end btn-primary me-3" role="button" (click)="Volver()">Volver</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>