<div class="container ">
    <div class="row">
        {{title}}
    </div>

    <div class="row">
        <div class="col" *ngFor="let item of tickets">
            <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    {{item.tecnico_asignado}} <br />
                    {{item.problema_reportado}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.fecha_solicitud}}</h5>
                    <p class="card-text">
                        <strong> Observacion: </strong> {{item.observacion}} <br />
                        <strong>Diagnostico: </strong> {{item.diagnostico}}<br />
                        <strong>Derivado a : </strong> {{item.derivado}}<br />


                    </p>

                    <p *ngFor="let equi of item.equipo">
                        <strong>Equipo :</strong> {{equi.descripcion}}<br />
                        <strong>Cue :</strong> {{equi.cue}}<br />
                        <strong>Matricula :</strong> {{equi.matricula}}<br />
                        <strong>Marca :</strong> {{equi.marca.nombre}}<br />
                        <strong>Modelo :</strong> {{equi.modelo}}<br />



                    </p>
                </div>
            </div>
        </div>



    </div>

</div>